node-red-flow-iot.json
[{"id":"617d5a12.dc5474","type":"inject","z":"302b5b76.1a1b04","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.01","crontab":"","once":false,"x":230,"y":100,"wires":[["2e4312a8.6709ce"]]},{"id":"2e4312a8.6709ce","type":"function","z":"302b5b76.1a1b04","name":"","func":"var h = context.global.get('h')||0.008;\nvar a = context.global.get('a')||10;\nvar b = context.global.get('b')||28;\nvar c = context.global.get('c')||8/3;\nvar x = context.global.get('x')||2;\nvar y = context.global.get('y')||3;\nvar z = context.global.get('z')||4;\n\n\nx+=h*a*(y-x)\ny+=h*(x*(b-z)-y)\nz+=h*(x*y-c*z)\n\n\ncontext.global.set(\"x\",x);\ncontext.global.set(\"y\",y);\ncontext.global.set(\"z\",z);\nmsg.payload={};\nmsg.payload.x=x;\nmsg.payload.y=y;\nmsg.payload.z=z;\nreturn msg;","outputs":1,"noerr":0,"x":422,"y":106.5,"wires":[["3beeb0e6.f5183","8cde8154.98984"]]},{"id":"3beeb0e6.f5183","type":"debug","z":"302b5b76.1a1b04","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":596,"y":95.25,"wires":[]},{"id":"ba0c94b7.b5cc68","type":"ibmiot out","z":"302b5b76.1a1b04","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lorenz","deviceType":"0.16.2","eventCommandType":"osc","format":"json","data":"payload","qos":0,"name":"IBM IoT","service":"registered","x":801,"y":215.25,"wires":[]},{"id":"32407976.187056","type":"ibmiot in","z":"302b5b76.1a1b04","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":536,"y":294,"wires":[["e2649f33.64a97"]]},{"id":"e2649f33.64a97","type":"debug","z":"302b5b76.1a1b04","name":"","active":true,"console":"false","complete":"false","x":683,"y":331.25,"wires":[]},{"id":"4c985df.6f844a4","type":"inject","z":"302b5b76.1a1b04","name":"healthy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":174,"wires":[["aac2d0ca.fcd4a"]]},{"id":"f387925c.b48ef","type":"inject","z":"302b5b76.1a1b04","name":"broken","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":172,"y":231,"wires":[["a861d819.c1e3f8"]]},{"id":"aac2d0ca.fcd4a","type":"function","z":"302b5b76.1a1b04","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',10);\ncontext.global.set('b',28);\ncontext.global.set('c',8/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":171.5,"wires":[["c624c9f7.83c0d8"]]},{"id":"a861d819.c1e3f8","type":"function","z":"302b5b76.1a1b04","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',30);\ncontext.global.set('b',128);\ncontext.global.set('c',28/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":285.5,"wires":[["c624c9f7.83c0d8"]]},{"id":"8cde8154.98984","type":"function","z":"302b5b76.1a1b04","name":"limit to max 3000 ","func":"var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count <= 3000) {\n   return msg; \n}\n\n","outputs":1,"noerr":0,"x":570,"y":180,"wires":[["ba0c94b7.b5cc68"]]},{"id":"83f5075e.f6d2b8","type":"function","z":"302b5b76.1a1b04","name":"","func":"context.global.set('count',0);\nmsg.payload=context.global.get('count');\ncontext.global.set(\"x\",2);\ncontext.global.set(\"y\",3);\ncontext.global.set(\"z\",4);\nreturn msg;","outputs":1,"noerr":0,"x":259,"y":562,"wires":[["c624c9f7.83c0d8"]]},{"id":"3e2b4575.b6494a","type":"inject","z":"302b5b76.1a1b04","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":158,"y":447.5,"wires":[["83f5075e.f6d2b8"]]},{"id":"c624c9f7.83c0d8","type":"debug","z":"302b5b76.1a1b04","name":"","active":false,"console":"false","complete":"false","x":408.5,"y":553.5,"wires":[]}]
